<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>画面遷移図</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container-fluid">
<header>
<h2>Webシステム開発応用実習 画面遷移図</h2>
</header>
</div>
<div class="container">
<main>
	<div class="row">
		<div class="col-12 mb-3">		
		<img class="img-fluid" th:src="@{/images/screen.jpg}">		
		</div>
	</div>
	<form action="" method="post">
	<input type="submit" class="btn btn-secondary btn-sm" value="戻る">
	</form>
</main>
</div>

<div class="container-fluid text-center">
<footer>
	<p> <small> 令和5年3月期 ZDRIVE Javaシステム科(3か月) Webシステム開発応用実習 課題 </small> </p>
</footer>
</div>

</body>
</html>